[hidden] {
  display: none !important;
}

.full-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  font-family:
    HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  user-select: none;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.logo-link {
  width: 100%;
  max-width: 900px;
  margin-bottom: 2em;
}

.logo {
  display: block;
  width: 100%;
}
