<html>
  <head>
    <script type="importmap">
      {
        "imports": {
          "@vaadin/router": "./festival-ui-live-page/router.js",
          "../../src/store.js": "./festival-ui-live-page/store.js"
        }
      }
    </script>
  </head>

  <body>
    <script type="module">
      import '../../src/components/festival-ui-live-page.js';

      import {
        aTimeout,
        elementUpdated,
        expect,
        nextFrame,
      } from '@open-wc/testing';
      import { fixture, fixtureCleanup } from '@open-wc/testing-helpers/pure';
      import { runTests } from '@web/test-runner-mocha';
      import { useFakeTimers } from 'sinon';

      import {
        setLastUnmutedVolume,
        setVolume,
      } from '../../src/actions/settings.js';
      import { Router } from './festival-ui-live-page/router.js';
      import { store } from './festival-ui-live-page/store.js';

      runTests(() => {
        describe('festival-ui-live-page', () => {
          const template = '<festival-ui-live-page></festival-ui-live-page>';

          describe('waiting for audio context', () => {
            beforeEach(() => {
              store.extendShowStatus({ status: 'WAITING_FOR_AUDIO_CONTEXT' });
            });

            afterEach(() => {
              fixtureCleanup();
              Router.go.resetHistory();
            });

            it('redirects to show intro page', async () => {
              const el = await fixture(template);
              el.onAfterEnter({ params: {} });
              await aTimeout(100);

              expect(Router.go).to.have.been.calledWith('/my-show');
            });

            it('does not contain <festival-ui-playing> or <festival-ui-ended>', async () => {
              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );
              const ended = el.shadowRoot.querySelector('festival-ui-ended');

              expect(playing).to.be.null;
              expect(ended).to.be.null;
            });
          });

          describe('waiting until start', () => {
            beforeEach(() => {
              store.extendShowStatus({ status: 'WAITING_UNTIL_START' });
            });

            afterEach(() => {
              fixtureCleanup();
              Router.go.resetHistory();
            });

            it('contains <festival-ui-playing>', async () => {
              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              expect(playing).to.be.an.instanceof(HTMLElement);
            });

            it('does not contain <festival-ui-ended>', async () => {
              const el = await fixture(template);
              const intro = el.shadowRoot.querySelector(
                'festival-ui-intro-page'
              );
              const ended = el.shadowRoot.querySelector('festival-ui-ended');

              expect(intro).to.be.null;
              expect(ended).to.be.null;
            });

            it('does not redirect', async () => {
              const el = await fixture(template);
              el.onAfterEnter({ params: {} });
              await nextFrame();
              await nextFrame();

              expect(Router.go).to.not.have.been.called;
            });

            it('passes properties to <festival-ui-playing>', async () => {
              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              const state = store.getState();
              await elementUpdated(playing);

              expect(playing.waitingUntilStart).to.be.true;
              expect(playing.waitingForNetwork).to.be.false;
              expect(playing.set).to.equal(state.showStatus.set);
              expect(playing.secondsUntilSet).to.equal(
                state.showStatus.secondsUntilSet
              );
              expect(playing.volume).to.equal(state.settings.volume);

              el.getAudioVisualizerData = () => Uint8Array.from(new Array(512));
              await elementUpdated(playing);

              expect(
                playing.getAudioVisualizerData,
                'getAudioVisualizerData'
              ).to.equal(el.getAudioVisualizerData);
            });
          });

          [
            () => {
              store.extendShowStatus({ status: 'DELAYING_FOR_INITIAL_SYNC' });
            },
            () => {
              store.extendShowStatus({ status: 'PLAYING' });
              store.extendAudioStatus({ waiting: true });
            },
          ].forEach((beforeFn) => {
            describe('waiting for network', () => {
              beforeEach(beforeFn);

              afterEach(() => {
                fixtureCleanup();
                store.resetAudioStatus();
                Router.go.resetHistory();
              });

              it('contains <festival-ui-playing>', async () => {
                const el = await fixture(template);
                const playing = el.shadowRoot.querySelector(
                  'festival-ui-playing'
                );

                expect(playing).to.be.an.instanceof(HTMLElement);
              });

              it('does not contain <festival-ui-ended>', async () => {
                const el = await fixture(template);
                const intro = el.shadowRoot.querySelector(
                  'festival-ui-intro-page'
                );
                const ended = el.shadowRoot.querySelector('festival-ui-ended');

                expect(intro).to.be.null;
                expect(ended).to.be.null;
              });

              it('does not redirect', async () => {
                const el = await fixture(template);
                el.onAfterEnter({ params: {} });
                await nextFrame();
                await nextFrame();

                expect(Router.go).to.not.have.been.called;
              });

              it('passes properties to <festival-ui-playing>', async () => {
                const el = await fixture(template);
                const playing = el.shadowRoot.querySelector(
                  'festival-ui-playing'
                );

                const state = store.getState();
                await elementUpdated(playing);

                expect(playing.waitingUntilStart).to.be.false;
                expect(playing.waitingForNetwork).to.be.true;
                expect(playing.set).to.equal(state.showStatus.set);
                expect(playing.volume).to.equal(state.settings.volume);

                el.getAudioVisualizerData = () =>
                  Uint8Array.from(new Array(512));
                await elementUpdated(playing);

                expect(
                  playing.getAudioVisualizerData,
                  'getAudioVisualizerData'
                ).to.equal(el.getAudioVisualizerData);
              });
            });
          });

          describe('playing', () => {
            beforeEach(() => {
              store.extendShowStatus({ status: 'PLAYING' });
            });

            afterEach(() => {
              fixtureCleanup();
              Router.go.resetHistory();
            });

            it('contains <festival-ui-playing>', async () => {
              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              expect(playing).to.be.an.instanceof(HTMLElement);
            });

            it('does not contain <festival-ui-ended>', async () => {
              const el = await fixture(template);
              const intro = el.shadowRoot.querySelector(
                'festival-ui-intro-page'
              );
              const ended = el.shadowRoot.querySelector('festival-ui-ended');

              expect(intro).to.be.null;
              expect(ended).to.be.null;
            });

            it('does not redirect', async () => {
              const el = await fixture(template);
              el.onAfterEnter({ params: {} });
              await nextFrame();
              await nextFrame();

              expect(Router.go).to.not.have.been.called;
            });

            it('passes properties to <festival-ui-playing>', async () => {
              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              const state = store.getState();
              await elementUpdated(playing);

              expect(playing.waitingUntilStart).to.be.false;
              expect(playing.waitingForNetwork).to.be.false;
              expect(playing.set).to.equal(state.showStatus.set);
              expect(playing.currentTime).to.equal(
                state.showStatus.currentTime
              );
              expect(playing.volume).to.equal(state.settings.volume);

              el.getAudioVisualizerData = () => Uint8Array.from(new Array(512));
              await elementUpdated(playing);

              expect(
                playing.getAudioVisualizerData,
                'getAudioVisualizerData'
              ).to.equal(el.getAudioVisualizerData);
            });

            it('after 10 seconds, it contains <festival-ui-ended> hidden', async () => {
              const timer = useFakeTimers({ shouldAdvanceTime: true });

              const el = await fixture(template);

              timer.tick(10 * 1000);
              await nextFrame();

              const ended = el.shadowRoot.querySelector('festival-ui-ended');

              expect(ended).to.be.an.instanceof(HTMLElement);
              expect(ended).to.have.attribute('hidden');

              timer.restore();
            });

            it('responds to volumeinput event on <festival-ui-playing>', async () => {
              store.resetActions();

              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              const volumeInputEvent = new CustomEvent('volumeinput', {
                bubbles: true,
                composed: true,
                detail: { volume: 70 },
              });
              playing.dispatchEvent(volumeInputEvent);

              await nextFrame();

              expect(store.actions.length, 'count of actions').to.equal(1);
              expect(store.actions[0]).to.deep.equal(setVolume(70));
            });

            it('responds to volumechange event on <festival-ui-playing>', async () => {
              store.resetActions();

              const el = await fixture(template);
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              const volumeChangeEvent = new CustomEvent('volumechange', {
                bubbles: true,
                composed: true,
                detail: { volume: 60 },
              });
              playing.dispatchEvent(volumeChangeEvent);

              await nextFrame();

              expect(store.actions.length, 'count of actions').to.equal(1);
              expect(store.actions[0]).to.deep.equal(setLastUnmutedVolume(60));
            });
          });

          describe('ended', () => {
            beforeEach(() => {
              store.extendShowStatus({ status: 'ENDED' });
            });

            afterEach(() => {
              fixtureCleanup();
              Router.go.resetHistory();
            });

            it('contains <festival-ui-ended>', async () => {
              const el = await fixture(template);
              const ended = el.shadowRoot.querySelector('festival-ui-ended');

              expect(ended).to.be.an.instanceof(HTMLElement);
              expect(ended).to.not.have.attribute('hidden');
            });

            it('does not contain <festival-ui-playing>', async () => {
              const el = await fixture(template);
              const intro = el.shadowRoot.querySelector(
                'festival-ui-intro-page'
              );
              const playing = el.shadowRoot.querySelector(
                'festival-ui-playing'
              );

              expect(intro).to.be.null;
              expect(playing).to.be.null;
            });

            it('does not redirect', async () => {
              const el = await fixture(template);
              el.onAfterEnter({ params: {} });
              await nextFrame();
              await nextFrame();

              expect(Router.go).to.not.have.been.called;
            });
          });

          describe('toast', () => {
            afterEach(() => {
              fixtureCleanup();
            });

            it('does not appear by default', async () => {
              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');

              expect(toast).to.not.have.attribute('shown');
            });

            it('appears on loading error', async () => {
              store.extendUi({ errorLoading: true });

              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');

              expect(toast).to.have.attribute('shown');
              expect(toast.innerText).to.satisfy((text) =>
                text.startsWith('There was a problem loading the show data.')
              );
              expect(toast.innerText).to.not.contain('CLOSE');

              store.resetUi();
            });

            it('appears on audio error', async () => {
              store.extendShowStatus({ status: 'PLAYING' });

              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');

              el.showAudioError();
              await elementUpdated(toast);

              expect(toast).to.have.attribute('shown');
              expect(toast.innerText).to.satisfy((text) =>
                text.startsWith('There was a problem playing the audio track.')
              );
              expect(toast.innerText).to.not.contain('CLOSE');

              store.resetShowStatus();
            });

            it('appears on audio stalled', async () => {
              store.extendAudioStatus({ stalled: true });

              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');

              expect(toast).to.have.attribute('shown');
              expect(toast.innerText).to.satisfy((text) =>
                text.startsWith(
                  'Looks like your internet connection is having trouble.'
                )
              );
              expect(toast.innerText).to.contain('CLOSE');

              store.resetAudioStatus();
            });

            it('appears on delay', async () => {
              store.extendShowStatus({ delay: 30 });

              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');

              expect(toast).to.have.attribute('shown');
              expect(toast.innerText).to.satisfy((text) =>
                text.startsWith('Looks like your audio player is out of sync.')
              );
              expect(toast.innerText).to.contain('CLOSE');

              store.resetShowStatus();
            });

            it('closes on button click', async () => {
              store.extendAudioStatus({ stalled: true });

              const el = await fixture(template);
              const toast = el.shadowRoot.getElementById('toast');
              const close = el.shadowRoot.getElementById('toast-close');

              expect(toast).to.have.attribute('shown');

              close.click();
              expect(toast).to.not.have.attribute('shown');

              store.resetAudioStatus();
            });
          });

          describe("'m' keydown", () => {
            beforeEach(() => {
              store.resetActions();
            });

            afterEach(() => {
              fixtureCleanup();
              store.resetSettings();
            });

            it('mutes if the volume is positive', async () => {
              store.extendSettings({ volume: 90 });

              await fixture(template);

              const keydownEvent = new KeyboardEvent('keydown', { key: 'm' });
              document.dispatchEvent(keydownEvent);

              expect(store.actions[0]).to.deep.equal(setLastUnmutedVolume(90));
              expect(store.actions[1]).to.deep.equal(setVolume(0));
            });

            it('unmutes if the volume is 0', async () => {
              store.extendSettings({ volume: 0, lastUnmutedVolume: 25 });

              await fixture(template);

              const keydownEvent = new KeyboardEvent('keydown', { key: 'm' });
              document.dispatchEvent(keydownEvent);

              expect(store.actions[0]).to.deep.equal(setVolume(25));
            });

            it('does nothing if a modifier key is pressed', async () => {
              store.extendSettings({ volume: 90 });

              await fixture(template);

              const keydownEvent = new KeyboardEvent('keydown', {
                key: 'm',
                metaKey: true,
              });
              document.dispatchEvent(keydownEvent);

              expect(store.actions).to.have.length(0);
            });
          });
        });
      });
    </script>
  </body>
</html>
