<html>
  <head>
    <script type="importmap">
      {
        "imports": {
          "../../src/store.js": "./festival-clock/store.js",
          "../../src/actions/targetShowStatus.js": "./festival-clock/targetShowStatus.js"
        }
      }
    </script>
  </head>

  <body>
    <script type="module">
      import { runTests } from '@web/test-runner-mocha';
      import { expect, aTimeout } from '@open-wc/testing';
      import { fixture, fixtureCleanup } from '@open-wc/testing-helpers/pure';

      import '../../src/components/festival-clock.js';
      import { store } from './festival-clock/store.js';

      runTests(() => {
        describe('festival-clock', () => {
          const template = '<festival-clock></festival-clock>';

          describe('render', () => {
            afterEach(() => {
              fixtureCleanup();
            });

            it('does not render anything', async () => {
              const el = await fixture(template);
              expect(el.shadowRoot).to.be.null;
            });
          });

          describe('ticking', () => {
            afterEach(() => {
              fixtureCleanup();
            });

            it('when ticking, calls the tick function', async () => {
              await fixture(template);
              store.resetTicks();
              store.startTicking();

              await aTimeout(2500);
              // Timers are weird in CI
              expect(store.ticks).to.satisfy((num) => num === 3 || num === 4);

              store.stopTicking();
            }).timeout(3000);

            it('when not ticking, does not call the tick function', async () => {
              await fixture(template);
              store.resetTicks();

              await aTimeout(1500);
              // Timers are weird in CI
              expect(store.ticks).to.satisfy((num) => num === 0 || num === 1);
            });
          });
        });
      });
    </script>
  </body>
</html>
