---
name: E2E tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-15
    steps:
      - name: Install PostgreSQL
        run: |
          brew install postgresql@16
          brew services start postgresql@16

      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.20.0
          cache: npm

      - run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        run: npm run test
        env:
          CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }}
          CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
          DATABASE_URL: postgresql://runner:@localhost:5432/postgres
          FIRST_ADMIN_EMAIL_ADDRESS: ci@urlfest.com
          PORT: '3000'
          TIGRIS_ACCESS_KEY_ID: ${{ secrets.TIGRIS_ACCESS_KEY_ID }}
          TIGRIS_BUCKET: festival-ci
          TIGRIS_SECRET_ACCESS_KEY: ${{ secrets.TIGRIS_SECRET_ACCESS_KEY }}

      - name: Upload test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          # name: test-results-${{ matrix.os }}--attempt-${{ github.run_attempt }}
          name: test-results--attempt-${{ github.run_attempt }}
          path: test-results/

  test-success:
    needs: [test]
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Check for failure
        if: needs.test.result == 'failure' || needs.test.result == 'cancelled'
        run: exit 1
