---
name: Component tests

on:
  pull_request:
    branches:
      - main

jobs:
  test-ct:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14]
        shardIndex: [1, 2, 3]
    env:
      shardTotal: 3
    runs-on: ${{ matrix.os }}
    steps:
      # https://github.com/actions/runner-images/issues/9330
      - name: Allow microphone access to all apps (macOS)
        if: matrix.os == 'macos-14'
        run: |
          sqlite3 $HOME/Library/Application\ Support/com.apple.TCC/TCC.db "INSERT OR IGNORE INTO access VALUES ('kTCCServiceMicrophone','/usr/local/opt/runner/provisioner/provisioner',1,2,4,1,NULL,NULL,0,'UNUSED',NULL,0,1687786159,NULL,NULL,'UNUSED',1687786159);"

      - name: Set up PulseAudio (Ubuntu)
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y pulseaudio
          systemctl --user start pulseaudio.socket

      - name: Check out repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

      - name: Set up Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20
          cache: npm

      - run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - run: npm run test-ct -- --shard=${{ matrix.shardIndex }}/${{ env.shardTotal }}

      - name: Upload test results
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        if: always()
        with:
          name: blob-report-ct-${{ matrix.os }}-${{ matrix.shardIndex }}
          path: blob-report/

  merge-reports-ct:
    if: always()
    needs: [test-ct]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14]
    steps:
      - name: Check out repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

      - name: Set up Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20
          cache: npm

      - run: npm ci

      - name: Download blob reports
        uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d # v4
        with:
          path: all-blob-reports
          pattern: blob-report-ct-${{ matrix.os }}-*
          merge-multiple: true

      - name: Merge into HTML report
        run: npx playwright merge-reports --reporter html ./all-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: html-report-ct-${{ matrix.os }}--attempt-${{ github.run_attempt }}
          path: playwright-report

  test-ct-success:
    needs: [test-ct]
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Check for failure
        if: needs.test-ct.result == 'failure' || needs.test-ct.result == 'cancelled'
        run: exit 1
