---
name: Type check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tsc:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.19.6
          cache: npm

      - run: npm ci

      - run: npx tsc
