---
name: Type check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tsc:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 20.20.0
          cache: npm

      - run: npm ci

      - run: npx tsc
